<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Strange Doctors</title>
</head>
<body>
	<ul>
		{{$x := .Name}}
		{{$y := .Show}}
		<li>{{$x}} - {{$y}}</li>
	</ul>
</body>
</html>
