<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>functions</title>
</head>
<body>
	<p1>Without date formatting:	{{.}}
	<p1>With date formatting:			{{fdateMDY .}}
</body>
</html>
